.kiro
.vscode
.gitignore
backend
mysql
UIDesign
frontend/Forever/node_modules
frontend/Forever/mock-server
frontend/Forever/package-lock.json
.gitignore
frontend/Forever/package-lock.json
frontend/Forever/package.json
